NODE_ENV=development

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=prestadores

# API Key (usado pelo indexador para autenticar no POST /prestadores/batch)
API_KEY=hapvida-secret-key

# Porta do backend
PORT=3000
