# Oracle ERP Connection
ORACLE_USER=seu_usuario
ORACLE_PASSWORD=sua_senha
ORACLE_CONNECTION_STRING=servidor:1521/SIGO

# Backend API
API_URL=http://localhost:3000
API_KEY=hapvida-secret-key

# Indexação
BATCH_SIZE=5000
CLEAN_INDEX=false
